<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Skapa ett konto.">
    <title>
        <%= title %>
    </title>
    <%- include("../bootstrap") %>
</head>

<body>
    <%- include("../topbar") %>
    <h2 class="col-auto">Skapa ett konto</h1>


        <form action="/auth/signup" method="post">
            <div class="form-group col-7">
                <label for="exampleInputEmail1">Email adress</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Email" name="email" />
                <small id="emailHelp" class="form-text text-muted">Vi delar aldrig ut din email till någon annan.</small>
            </div>

            <div class="form-group col-7">
                <label for="passwordInput">Lösenord</label>
                <input type="password" class="form-control" id="passwordInput" aria-describedby="passwordHelp"
                    placeholder="Lösenord" name="password" />
                <small id="passwordHelp" class="form-text text-muted">Ditt lösenord är enkrypterat på våra servrar och
                    skickas via https.</small>
            </div>

            <div class="form-group col-7">
                <label for="nationalIdInput">Personnummer</label>
                <input type="text" class="form-control" id="nationalIdInput" placeholder="ÅÅMMDD-XXXX" name="nationalId" />
            </div>

            <div class="form-group col-7">
                <label for="nameInput">Förnamn</label>
                <input type="text" class="form-control" id="nameInput" placeholder="Förnamn" name="name" />
            </div>

            <div class="form-group col-7">
                <label for="surnameInput">Efternamn</label>
                <input type="text" class="form-control" id="surnameInput" placeholder="Efternamn" name="surname" />
            </div>

            <div class="form-group col-7">
                <label for="telInput">Telefonnummer</label>
                <input type="tel" class="form-control" id="telInput" placeholder="0712345678" name="phone" />
            </div>

            <div class="form-group col-7">
                <label for="adultPhone">Telefonnummer till anhörig</label>
                <input type="tel" class="form-control" id="adultPhone" placeholder="0712345678" name="adultPhone" />
            </div>

            <div class="form-group col-7">
                <label for="addressInput">Adress</label>
                <input type="text" class="form-control" id="addressInput" placeholder="Hantverkargatan 1" name="address" />
            </div>

            <div class="form-group col-7">
                <label for="postcodeInput">Postnummer</label>
                <input type="text" class="form-control" id="postcodeInput" placeholder="11266" name="postcode" />
            </div>

            <div class="form-group col-7">
                <label for="cityInput">Postort</label>
                <input type="text" class="form-control" id="cityInput" placeholder="Stockholm" name="city" />
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">
                    Skapa konto
                </button>
            </div>
        </form>
</body>

</html>